input {
  width: 100%;
  border-radius: 18px;
  border: none;
  height: 30px;
  font-family: 'Nunito', sans-serif;
  background-color: gray;
  color: white;
  font-size: 18px;
  outline: unset;
  text-align: center;
}

input::placeholder {
  color: white;
  text-align: center;
}

